<!DOCTYPE html>
<html>
<head>
	<title>
		Todo App
	</title>
	<link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
</head>
<body>
<center>
	<div class="list">
		<h2>Todo list</h2><br>

		<form action="/addtask" method="POST">
			<input type="text" name="addtask" placeholder="Add a new task"><br><br>
			<button>Add task</button>&nbsp&nbsp
			<button formaction="/removetask" type="submit"> RemoveAll </button>
		</form>
	</div>

	<ol>
		<% if (list.length >0) { %>
			<% for (var i=0; i<list.length; i++) { %>
					<li><span><%= list[i].title%> </span>&nbsp&nbsp <a href="/remove/<%= list[i].id %>">Remove</a><br></li>
			<% } %>
		<% } %>

	</ol>
</center>
</body>
</html>
