<!DOCTYPE html>
<html>
<head>
	<title>todo</title>
</head>
<body>
<center>
	<h1>Login</h1>
	<form action="/login" method="POST">
		<label for="uname"><b>Username :</b></label>
		<input type="text" name="uname" placeholder="Enter your name" required><br><br>
		<label for="psw"><b>Password :</b></label>
		<input type="password" name="upass" placeholder="Enter your password" required><br><br>
		<input type="submit" value="Login">
	</form><br><br>
	<a href="/register">Sign Up?</a>
</center>
</body>
</html>