<!DOCTYPE html>
<html>
<head>
	<title>todo</title>
</head>
<body>
<center>
	<h1>Sign Up</h1>
	<form action="/register" method="POST">
		<label for="uname"><b>Username :</b></label>&nbsp&nbsp
		<input type="text" name="uname" placeholder="Enter your name" required><br><br>
		<label for="psw"><b>Password :</b></label>&nbsp&nbsp
		<input type="password" name="upass" placeholder="Enter your password" required><br><br>
		<input type="submit" value="Register">
	</form>
</center>
</body>
</html>